.navbar-nav > li {
    padding-left: 30px;
    padding-right: 120px;
    padding-inline: 50px;
    padding-block: 10px;
  }
  
  .navbar-brand {
    font-size: 1.5em;
    transition: font-size 0.5s;
    padding-right: 0;
  }
  
  .navbar-brand:hover {
    font-size: 2em;
  }

  .navbar-nav > li:first-child {
    margin-right: 10;
  }

  .bg-light-pink {
    background-color: #FFC1FC; /* Light pink color */
  }
  
  .logo-container {
    width: 100px; /* Set the desired width for your logo */
    height: 100px; /* Set the desired height for your logo */
    overflow: hidden; /* Hide any overflow beyond the circular shape */
    border-radius: 50%; /* Create a circular shape */
  }
  
  .logo-container img {
    width: 100%; /* Make the logo fill the circular container */
    height: auto; /* Maintain aspect ratio */
  }
  