<p><app-nav-bar></app-nav-bar></p>

    <title>My Music App</title>

<div class="header">
  <h1>Welcome to My Music App</h1>
</div>
<div class="content">
  <h2>Featured Songs</h2>
  <app-song title="Album Title 1" artist="Artist Name 1" imagePath="assets/images (17).jpeg" [songs]="['src/musics/Balam-Pichkari(PaglaSongs).mp3', 'src/musics/Gulabi-Sadi(PaglaSongs).mp3', 'src/musics/Gulabi-Sharara(PaglaSongs).mp3']"></app-song>
  <app-song title="Album Title 2" artist="Artist Name 2" imagePath="assets/images (18).jpeg" [songs]="['src/musics/Laal-Bindi(PaglaSongs).mp3', 'src/musics/Tu-Hai-Kahan(PaglaSongs).mp3', 'src/musics/Balam-Pichkari(PaglaSongs).mp3']"></app-song>
  <!-- and so on... -->
  

</div>


    <!-- Adding a Footer -->
<div class="footer" style="background-color: #f8f9fa; text-align: center; padding: 10px; position: fixed; bottom: 0; width: 100%; font-family: serif;">
    <p>© 2024 IK-Music App. All rights reserved.</p>
</div>


